# Default ignored files
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PycharmProjects\Chess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/workspace.xml
